!! Xterm config
xterm*VT100.geometry:     120x35
xterm*faceName:           Inconsolata:style=Regular:size=10
!xterm*font:               -*-inconsolata-medium-r-*-*-12-*-*-*-*-*-*-*
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false


*VT100.Translations: #override \
    Shift <Key>Up: scroll-back(1) \n\
    Shift <Key>Down: scroll-forw(1) \n\
    ~Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
    Meta Shift Ctrl <Key>V: insert-selection(PRIMARY) \n\
    ~Shift <Btn1Up>: select-end(PRIMARY, CUT_BUFFER0) \n\
    Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
    ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
    Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)

!!Source http://github.com/altercation/solarized
 
*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
 
!! black dark/light
*color0: #073642
*color8: #002b36
 
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
 
!! green dark/light
*color2: #859900
*color10: #586e75
 
!! yellow dark/light
*color3: #b58900
*color11: #657b83
 
!! blue dark/light
*color4: #268bd2
*color12: #839496
 
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
 
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
 
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

